extends layout
block content
    if gather
        h1.header #{gather.name}
        p Welcome to #{gather.name}
        p Owner: #{gather.owner.nick}
        p Players: #{gather.team1.length + gather.team2.length}/#{gather.teamSize * 2}
        p Skill: #{gather.skill}
        .divider
        if message && message.length > 0
            p #{message}
            .divider
        if user && gather.owner._id.equals(user._id)
            .control-panel
                if gather.status == 'open'
                    a(href="/gathers/#{gather._id}/start").waves-effect.waves-light.btn-large Start
                        i.mdi-av-play-arrow.right
                if gather.status == 'started'
                    a(href="/gathers/#{gather._id}/finish").waves-effect.waves-light.btn-large Finish
                        i.mdi-action-done.right
                a(href="/gathers/#{gather._id}/cancel").waves-effect.waves-light.btn-large Cancel
                    i.mdi-navigation-close.right
                .divider
        h2.header Team 1
        ul.collection
            - var i = 0
            while i < gather.teamSize
                - var player = gather.team1[i]
                if player
                    li.collection-item
                        a(href="/profile/#{player._id}").primary-content #{player.nick}
                        if user && (player._id.equals(user._id) || gather.owner._id.equals(user._id))
                            a(href="/gathers/#{gather._id}/leave?team=team1&playerid=#{player._id}").secondary-content.post
                                i.mdi-content-clear
                else
                    a(href="/gathers/#{gather._id}/team1/join").collection-item Empty slot
                - i++
        h2.header Team 2
        ul.collection
            - var i = 0
            while i < gather.teamSize
                - var player = gather.team2[i]
                if player
                    li.collection-item
                        a(href="/profile/#{player._id}").primary-content #{player.nick}
                        if user && (player._id.equals(user._id) || gather.owner._id.equals(user._id))
                            a(href="/gathers/#{gather._id}/leave?team=team2&playerid=#{player._id}").secondary-content.post
                                i.mdi-content-clear
                else
                    a(href="/gathers/#{gather._id}/team2/join").collection-item Empty slot
                - i++
    else
        h1 Gather not found