extends layout
block content
    if gather
        h1= gather.name
        p Welcome to #{gather.name}
        p Players: #{gather.currentPlayers}/#{gather.maxPlayers}
        p Skill: #{gather.skill}
    else
        h1 Gather not found