extends layout

block content
    h1 Gather stuff
    p Welcome to DFEKT gather something something
    .collection-header
        h4 Gathers
    .collection#gatherList
        if gathers
            each gather in gathers
                a(href="/gathers/#{gather._id}").collection-item #{gather.name} - #{gather.startingTime} - #{gather.team1.length + gather.team2.length}/#{gather.teamSize*2}
    if user
        a(href="/gathers/create").waves-effect.waves-light.btn New Gather
    else
        a(data-target="login-modal").waves-effect.waves-light.btn.modal-trigger New Gather

    .modal#login-modal
        .modal-content
            h4 Permission denied!
            p You have to be logged in, if you want to create a gather!
        .modal-footer
            a().modal-action.modal-close.waves-effect.waves-green.btn Close
            a(href="/login").modal-action.modal-close.waves-effect.waves-green.btn Login
